<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google API</title>
</head>
<body>
    <table align="center">
        <tr>
            <th>
                Books from Google API with Android in TITLE
            </th>
        </tr>
        {% for b in books %}
        <tr>
            <td>
                {{ b }}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                No Books!
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>