{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'stockmarketweb/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Market</title>
</head>
<body>
    <form action="getQuote" method="post">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>
                    <h1 align="center">NASDAQ</h1>
                </td>
            </tr>
            {{ form }}
            <tr>
                <td>
                    <input type="submit" value="Get Stock Quote" />
                </td>
            </tr>
            <tr>
                <td>
                    <h2 align="center"> <a href="{% url 'index' %}">Home</a> </h2>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>