{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'stockmarketweb/style.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Market</title>
</head>
<body>
    <table align="center">
        <tr>
            <td>
                <h1>Stock Quote</h1>
            </td>
        </tr>
        <tr>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <h2 align="center"> <a href="{% url 'index' %}">Home</a> </h2>
            </td>
        </tr>
    </table>

</body>
</html>