body {
    background-color: lightyellow;
}

h1 {
    color: navy;
    text-align="center";
}

h2 {
    color: navy;
    text-align="center";
}

h3 {
    color: red;
    text-align="center";
}

table, th, td {
    align="center"
}

p {
    color: red;
}